* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #348ccc;
}

.slick-prev::before,
.slick-next::before {
  color: black;
}

.slick-prev {
  left: 5%;
  z-index: 1;
}

.slick-next {
  right: 5%;
  z-index: 1;
}

.slick-slider {
  width: 600px;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.div-one h5, 
.div-two h5,
.div-three h5,
.div-four h5,
.div-five h5,
.div-six h5{
  margin: auto 20px;
  margin-top: 10px;
}
.shape {
  outline: none;
  height: 200px;
  width: 175px;
  margin: 20px auto 30px auto;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  align-items: center;
  color: black;
}

.div-one,
.div-two,
.div-three,
.div-four,
.div-five,
.div-six {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.shape h1 {
  font-size: 30px;
}
.shape img{
  width: 200%;
  height: 100%
}
.body h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .slick-slider{
    width: 445px;
    height: 280px;
  }
}
@media (max-width: 952px) {
  .slick-slider{
    width: 320px;
  }
}
@media (max-width: 768px) {
  .slick-slider{
    width: 340px;
    height: 280px;
  }
  .shape img{
    width: 150%;
    height: 80%
  }
}
@media (max-width: 600px) {
  .body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
  }
  .slick-slider{
    width: 340px;
  }
  .shape img{
    width: 150%;
    height: 80%
  }
  #car2 {
    margin: 15px 0;
  }
}
